$accent-color: #d7b399;
$secondary-color: #f9f6f1;
$accent-dark: #212121;
$secondary-accent: #d84033;
$btn-bg: #cecece;
$input-color: #8d8d8d;
$footer-link-color: #cbcfd4;
$dark: #000;
$light: #fff;

$main-font: "Montserrat", sans-serif;
$alt-font: Roboto;
