@import "../vars";

.cart {
  & a {
    text-decoration: none;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  & img {
    margin-right: 15px;
  }

  &__informer {
    display: inline-block;
    padding: 3 13px;
    background-color: $accent-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $light;
  }

  &__form {
    min-width: 45px;
    min-height: 17px;
    background-color: $accent-color;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
